{% load static %}
<div class="navbar navbar-default default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="{% url 'main:home' %}">Robert Melen Photography</a></div>
        <div class="nav-bars-wrapper">
          <div class="nav-bars-inner">
            <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
          </div>
          <!-- /.nav-bars-inner -->
        </div>
        <!-- /.nav-bars-wrapper -->
        <div class="header-other">
          <ul class="social">
            <li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
            <li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
            <li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
            <li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
          </ul>
        </div>
        <!-- /.header-other -->
      </div>
      <!-- /.navbar-header -->
      <div class="nav-wrapper" >
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'main:home' %}">Home<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Onepage Gallery</a></li>
                <li><a href="index2.html">Lightbox Gallery</a></li>
              </ul>
            </li>
            <li><a href="{% url 'main:gallery' %}">Galleries</a></li>
            <li><a href="{% url 'main:blog-posts' %}">Blogs<span class="caret"></span></a>

            </li>
            <li><a href="#!">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="pricing.html">Pricing</a></li>
              </ul>
            </li>
            <li><a href="#!">Features <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="elements.html">Elements</a></li>
                <li><a href="headings.html">Headings</a></li>
                <li><a href="page-loading.html">Page Loading</a></li>
                <li><a href="#!">Footer <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="footer.html">Footer I</a></li>
                    <li><a href="footer2.html">Footer II</a></li>
                    <li><a href="footer3.html">Footer III</a></li>
                    <li><a href="footer4.html">Footer IV</a></li>
                    <li><a href="footer5.html">Footer V</a></li>
                  </ul>
                </li>
                <li><a href="#!">Page Title <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="page-title.html">With Fixed Image</a></li>
                    <li><a href="page-title2.html">With Parallax</a></li>
                  </ul>
                </li>
                <li><a href="icon-ion.html">Ion Icons</a></li>
                <li><a href="icon-budicon.html">Budicon Icons</a></li>
              </ul>
            </li>
            <li><a href="#!">Contact <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="contact.html">Contact</a></li>
                <li><a href="contact2.html">Contact II</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.nav-wrapper -->
    </div>
    <!--/.container-fluid -->
  </div>
  <!-- /.navbar -->