{% load static %}
<div class="navbar navbar-default default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="{% url 'main:home' %}">Robert Melen|Photographer</a></div>
        <div class="nav-bars-wrapper">
          <div class="nav-bars-inner">
            <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
          </div>
          <!-- /.nav-bars-inner -->
        </div>
        <!-- /.nav-bars-wrapper -->
        <div class="header-other">
          <ul class="social">
            <li> <a href="{{user.facebook}}"><i class="ion-social-facebook"></i></a> </li>
            <li> <a href="{{ user.twitter }}"><i class="ion-social-twitter"></i></a> </li>
            <li> <a href="{{ user.instagram }"><i class="ion-social-instagram"></i></a> </li>
            <li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
          </ul>
        </div>
        <!-- /.header-other -->
      </div>
      <!-- /.navbar-header -->
      <div class="nav-wrapper" >
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'main:home' %}">Home<span class="caret"></span></a>
            </li>
            <li><a href="{% url 'main:gallery' %}">Galleries</a></li>
            <li><a href="{% url 'main:blog-posts' %}">Blogs<span class="caret"></span></a>

            </li>


            <li><a href="{% url 'main:contact' %}">Contact <span class="caret"></span></a>

            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.nav-wrapper -->
    </div>
    <!--/.container-fluid -->
  </div>
  <!-- /.navbar -->