{% extends 'main/base.html' %}
{% block hero %}
{% endblock %}


{% block content %}
<div class="container" style="width:800px; padding-top: 100px;">
    <div class="meta text-center"><a href="{% url 'main:blog-posts' %}">Back to all blogs</a></div>

              {% for i in category.blogpost_set.all %}

              <div class="post">
                <div class="post-content">
                  <h2 class="post-title text-center"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h2>
                  <div class="meta text-center"><span class="date">{{i.publish}}</span><span class="comments"><a href="#">7 Comments</a></span><span class="category"><a href="{% url 'main:category_detail' pk=i.pk %}"> {{ i.blog_category }} </a></span></div>
                 <figure class="overlay"><a href="blog-post.html"><img src="{{i.main_image.image.url}}" alt=""/></a></figure>
                  <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient. Curabitur blandit tempus lacinia odio. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl et. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies.</p>
                  <p>Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus... </p>
                  <div class="text-center"><a href="blog-post.html" class="more">Read More</a></div>
                </div>
                <!-- /.post-content -->
              </div>
              {% endfor %}
              <hr />
            </div>
          </div>
{% include "main/partials/pagination.html" with page=posts %}
          <!-- /.classic-view -->
          <hr />

          <!-- /.pagination -->
        </div>
        <!-- /.blog-content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}