{% extends "main/base.html" %}
{% load static %}

{% block content %}
 <div class="clearfix"></div>
      <div class="divide25"></div>
      <div id="js-grid-inline" class="cbp cbp-l-grid-inline">
        <div class="cbp-item conceptual food-drink"> <a href="ajax/post1.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m1.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Coffee Time Yummy</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item nature portrait"> <a href="ajax/post2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m2.jpg' %}"alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Transportation</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item nature portrait"> <a href="ajax/post3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m3.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Colorful Objects</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item portrait food-drink"> <a href="ajax/post4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m4.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Clever & Creative</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item conceptual nature"> <a href="ajax/post5.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m5.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Old Suitcases</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item nature portrait"> <a href="ajax/post1.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m6.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Pretty Tulips</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item conceptual food-drink"> <a href="ajax/post2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m7.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Happy Workshop</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item nature portrait"> <a href="ajax/post3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m8.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">People & Portaits</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item nature portrait"> <a href="ajax/post4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m9.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Macro Shots</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item motion graphic"> <a href="ajax/post5.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m10.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Stray Cats</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item web-design print"> <a href="ajax/post1.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m11.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Spectacular Fireworks</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item print motion"> <a href="ajax/post2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m12.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Delicious Sweets</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item motion graphic"> <a href="ajax/post3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m13.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Pretty Cupcakes</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item web-design print"> <a href="ajax/post4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m14.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Wonderful Bikes</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item print motion"> <a href="ajax/post5.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m15.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Street Life</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item motion graphic"> <a href="ajax/post1.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m16.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Urban Shots</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item web-design print"> <a href="ajax/post2.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m17.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Colorful Umbrellas</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item print motion"> <a href="ajax/post3.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m18.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">The Contrast</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item motion graphic"> <a href="ajax/post4.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m19.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Tiny Mushrooms</div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="cbp-item web-design print"> <a href="ajax/post5.html" class="cbp-caption cbp-singlePageInline">
          <div class="cbp-caption-defaultWrap"> <img src="{% static  'style/images/art/m20.jpg' %}" alt=""> </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Smiling Faces</div>
              </div>
            </div>
          </div>
          </a> </div>
      </div>
{% endblock %}