{% extends "main/base.html" %}
{% load static %}
{% block hero %}
<div class="light-wrapper">
    <div class="container-fluid inner tp60 bp0">
      <div class="hero text-center">
        <p>{{ img.timestamp }}</p>
      </div>
        {% endblock %}


{% block content %}
{% for img in gallery_pics %}
<div class="row">
    <div class="col-4 mx-auto text-center">
        <img src="{{ img.image.url }}" alt="" style="width: 900px;"/><div>sfdafdsaf</div>
        <hr>
    </div>

{% endfor %}
{% endblock %}


