{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/my_custom.css' %}">
</head>

<div class="container">
  <div class="gallery-title">
      <div class="text-left">
          <a href="{% url 'main:gallery' %}"
                  hx-target=".gallery-body"
                  hx-push-url="/gallery"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                  <h6>Back to Gallery page</h6></a></div>
      <div class="text-center">
      {% for i in description %}
  <h1>{{i.name }}.</h1>
      </div>
       {% endfor %}
  </div>
</div>
</body>
  <div class="modal inverse-wrapper modal-transparent move-from-top" id="myModal1" tabindex="-1" role="dialog"> <a href="#" class="btn close-button" data-dismiss="modal" aria-label="Close"></a>
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <h2 class="post-title text-center">{{ img.title }}</h2>
              {% for img in pictures %}
              <ul class="basic-gallery text-center">
                  <li><img src="{{ img.image.url }}" class="gallery-images-detail" alt="" /></li>
            </ul>
              {{ img.timestamp }}
          </div>
        </div>
      </div>
{% endfor %}


