{% extends "main/base.html" %}
{% load static %}
{% block content %}
{% block hero %}
{% endblock %}

<div class="container">
    {% include "main/partials/pagination.html" with page=posts %}
<div style="width:120%">
  {% for img in posts %}
      <div style="float:left; width:300px; height:300px; ">
          <a href="{% url 'main:gallery-detail' img.slug %}">
          <img src="{{ img.image.image.url }}" class="img-thumbnail"  alt="">
              <div style="padding: 5px;"><h6>{{ img.name }}: <small>{{ img.album_images.count }} images</small>
              </h6><small>{{ img.description }}</small> </div>
      </div>
    {% endfor%}
</div>

</div>
{% block footer %}
{% endblock %}

<footer class="bg-light text-center text-lg-start" style="

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  text-size: small;
}
</style>">
  <!-- Copyright -->
  <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">

    <a class="text-dark">© 2022 Robert Melen. All rights reserved.</a>
  </div>
  <!-- Copyright -->
</footer>
















{% endblock %}

