{% extends "main/base.html" %}
{% load static %}
{% block hero %}
<div class="container-fluid">
  <div class="text-center">
  <h2>Gallery page</h2>
</div>
</div>
<div class="tiles">
        <div class="items row row-offset-0">
            <div class="modal-body"></div>
{% for img in objects_list %}
    <div class="item col-xs-6 col-sm-6 col-md-4">
        <figure class="overlay"> <a hx-get="{{ request.path }}?slug={{ img.slug }}" hx-target=".modal-body"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

            <div class="text-overlay caption">
                <div class="info">
                  <h2 class="post-title">{{ img.name }}</h2>
                  <div class="meta"> <span class="count">7 Photos</span> <span class="category">Hobby</span></div>
                </div>
              </div>
              <img src="{{ img.image.image.url }}" alt="" /></a> </figure>

    </div>
{% endfor %}

{% endblock %}