{% extends "main/base.html" %}
{% load static %}
{% block content %}
{% block hero %}
{% endblock %}

<div class="container">
    <div style="padding-top:10px;"><h2>Galleries</h2>
    <p>Here, you can find a selection of galleries, click on a thumbnail to see the images</p></div>
    {% include "main/partials/pagination.html" with page=posts %}

<div style="width:120%">
  {% for img in posts %}
      <div style="float:left; width:250px; height:250px; padding:10px; ">
          <a href="{% url 'main:gallery-detail' img.slug %}">
              <img src="{{ img.image.thumbnail.url }}" class="img-thumbnail" alt=""></a>
          <div style="padding: 5px;"><h6>{{ img.name }}:</h6> <small>{{ img.album_images.count }} images / </small>

               <small>{{ img.description }}</small> </div>
      </div>
    {% endfor%}
</div>

</div>
{% block footer %}
{% endblock %}

<footer class="bg-light text-center text-lg-start robs-footer">
  <!-- Copyright -->
  <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">

    <a class="text-dark">All images are © 2022 Robert Melen. All rights reserved.</a>
  </div>
  <!-- Copyright -->
</footer>
















{% endblock %}

