{% extends "main/base.html" %}
{% load static %}
{% block menu %}

<div class="container-fluid">
    <h7>Please click an image below to view a slideshow from that category</h7>
</div>
{% endblock %}
{% block content %}
<div class="clearfix"></div>
    <div class="divide25"></div>
        <div id="js-grid-inline" class="cbp cbp-l-grid-inline">
            {% for image in main_images %}
            <div class="cbp-item web-design print"> {% if image.categories.slug %} <a href="{% url 'main:select' image.categories.slug %}"class="cbp-caption cbp-singlePageInline">{% endif %}
                <div class="cbp-caption-defaultWrap"> <img src="{{ MEDIA_URL }} {{ image.thumbnail.url }}"alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{image.categories.title}}</div>
                            </div>
                        </div>
                    </div>
            </a>
            </div>
            {% endfor %}
      </div>
{% endblock %}