{% extends "main/base.html" %}
{% load static %}

{% block content %}

 <div class="clearfix"></div>


      <div class="divide25"></div>



      <div id="js-grid-inline" class="cbp cbp-l-grid-inline">

 {% for image in main_images %}
        <div class="cbp-item web-design print"> <a href="ajax/post5.html" class="cbp-caption cbp-singlePageInline">





          <div class="cbp-caption-defaultWrap"> <img src="{{ MEDIA_URL }} {{ image.image.url }}"alt=""> </div>

          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">{{image.timestamp}}</div>


              </div>

            </div>


          </div>

          </a> </div>
          {% endfor %}


      </div>

{% endblock %}