{% extends "main/base.html" %}
{% block hero %}
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="light-wrapper">
    <div class="container inner tp60">
      <div class="blog row">
        <div class="col-md-8 col-md-offset-2">
          <div class="blog-content classic-view single">
            <div class="blog-posts">
              <div class="post">
                <div class="post-content">
                    {{ slug }}
                  <h1 class="post-title text-center">{{ post.title }}</h1>
                  <div class="meta text-center"><span class="date">Published on {{ post.created }} by {{ post.author }}</span><span class="comments"><a href="#">7 Comments</a></span><span class="category"><a href="{% url 'main:blog_list_by_category' post.blog_category %}">{{ post.blog_category }}</a></span></div>
                  <figure><img src="style/images/art/bp1.jpg" alt="" /></figure>
                  {{ post.post_category.set.all }}
                  {{ post.body | safe }}
                  <div class="meta tags text-center">
                    {% for tag in post.tags.all %}
                    <a href="{% url 'main:blog_list_by_tag' tag.slug %}">{{ tag }}</a>
                  {% endfor %}
                  </div>
                  <div class="share share-wrapper text-center"> <a href="#" class="btn btn-share share-facebook">Like</a> <a href="#" class="btn btn-share share-twitter">Tweet</a> <a href="#" class="btn btn-share share-pinterest">Pin It</a> </div>
                  <!-- /.share-wrapper -->
                  <hr />
                  <div class="post-nav-wrapper">
                    <div class="post-nav prev">
                      {% if post.get_previous_by_created %}
                      <div class="meta"><i class="ion-android-arrow-back"></i> Previous Article</div>
                      <h3 class="post-title"><a href="{{ post.get_previous_by_created.get_absolute_url }}">{{ post.get_previous_by_created.title }}</a></h3>
                      {% endif %}
                    </div>
                    <div class="post-nav next">
                      {% if post.get_next_by_created%}
                      <div class="meta">Next Article <i class="ion-android-arrow-forward"></i></div>
                      <h3 class="post-title"><a href="{{ post.get_next_by_created.get_absolute_url}}">{{ post.get_next_by_created.title}}</a></h3>
                    {% endif %}
                    </div>
                  </div>
                  <!-- /.post-nav -->
                  <hr />
                  <div class="about-author text-left">
                    <div class="author-image"> <img alt="" src="{{ pic.url }}" style="width: 150px"/> </div>
                    <h4>About the Author</h4>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac.</p>
                    <ul class="social">
                      <li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
                      <li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
                      <li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
                      <li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
                      <li> <a href="#"><i class="ion-social-linkedin"></i></a> </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <!-- .about-author -->
                  
                  <hr />
                  <div id="comments" class="text-left">
                    <h4>{{ post.comments.count }} Comments on {{ post.title }}</h4>
                    <ol id="singlecomments" class="commentlist">
                      {% for i in post.comments.all %}
                      <li>
                        <div class="message">
                          <div class="message-inner">
                            <div class="info">
                              #{{ forloop.counter }}
                              <h5><a href="#">{{ i.name }}</a></h5>
                              <div class="meta"> <span class="date">{{ i.created }}</span><span class="reply"><a class="link-effect" href="#">Reply</a></span> </div>
                            </div>
                            <p>{{ i.body|linebreaks }}</p>
                             {% endfor %}
                          </div>
                        </div>
                      </li>
                    </ol>
                  </div>
                  <!-- /#comments -->
                  
                  <hr />
                  <div class="comment-form-wrapper text-left">
                    <h4>Would you like to share your thoughts?</h4>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <form class="comment-form" name="form_name" action="#" method="POST">
                     {{ comment_form }}
                      <input type="submit" value="Submit" name="submit" class="btn btn-forest btn-submit" />
                      {% csrf_token %}
                    </form>
                  </div>
                  <!-- /.comment-form-wrapper --> 
                  
                </div>
                <!-- /.post-content --> 
                
              </div>
              <!-- /.post --> 
              
            </div>
            <!-- /.blog-posts --> 
            
          </div>
          <!-- /.classic-view --> 
          
        </div>
        <!-- /column --> 
        
      </div>
      <!-- /.blog --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper --> 
</div>
<!-- /.content-wrapper -->
{% endblock %}

</html>