{% load static %}
<div class="cbp-inline">
  <div class="swiper-container-wrapper image-carousel-wrapper">
      <div class="swiper-container image-carousel">
        <div class="swiper-wrapper">
            {% for image in object_list %}
          <div class="swiper-slide"><img src="{{ MEDIA_URL }} {{ image.image.url }}" alt="" /></div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next btn"></div>
      <div class="swiper-button-prev btn"></div>
    </div>

</div>
<!-- /.cbp-inline -->

<script type="text/javascript" src="{% static 'style/js/scripts-single.js' %}"></script>