{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/my_custom.css' %}">
</head>

<div class="container-fluid">
  <div class="gallery-title">
      <div class="text-left">
          <button class="btn btn-outline-light" hx-get="/gallery-back"
             hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                  Back to Gallery page</button></div>
      <div class="text-center">
      {% for i in description %}

  <h1>{{i.name }}.</h1>
          <p class="font-weight-light">Created:{{ i.created }}</p>
      </div>
       {% endfor %}
  </div>
</div>
</body>
    <h2 class="post-title text-center">{{ img.title }}</h2>
              {% for img in pictures %}
              <ul class="basic-gallery text-center">
                  <li><img class="gallery-images-detail" src="{{ MEDIA_RL }} {{ img.image.url }}" alt="" /></li>
             </ul>
            <div #id="caption" class="container">
            {{ img.meta }}</div>
            </div>
            </div>

        </div>
      </div>
{% endfor %}


